{% extends 'base.html' %}

{% block title %}
    <title>All Students</title>
{% endblock %}


{% block content %}

<h2>Forms All students</h2>

<form>
  <label>First name:</label>
  <input type="text" name="first_name"><br><br>

  <label>Last name:</label>
  <input type="text" name="last_name"><br><br>

  <label>Rating:</label>
  <input type="number" name="rating"><br><br>

  <input type="submit" value="Search">

  <input formaction="{% url 'students:create' %}" type="submit" value="Create">
</form>

{% include 'includes/students_table.html' %}

{% endblock %}