<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All students</title>
</head>
<body>

<h2>HTML Forms</h2>

    <form>
      <label>First name:</label>
      <input type="text" name="first_name"><br><br>

      <label>Last name:</label>
      <input type="text" name="last_name"><br><br>

      <label>Rating:</label>
      <input type="number" name="rating"><br><br>

      <input type="submit" value="Search">
    </form>
<br><br>

{% for student in students %}
    <a href="{% url 'students:edit' student.id %}">Edit</a>
    {{ student.id }}
    {{ student.first_name }}
    {{ student.last_name }}
    {{ student.email }}
    {{ student.birthdate }}
    {{ student.rating }}
    <br>

{% endfor %}

</body>
</html>