<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Subject</th>
            <th>Years_of_experience</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {% for teacher in teachers %}

        <tr>

            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.birthdate }}</td>
            <td>{{ teacher.subject }}</td>
            <td>{{ teacher.years_of_experience }}</td>
            <td>
                <a href="{% url 'teachers:edit' teacher.uuid %}">✎</a>
            </td>
            <td>
                <a href="{% url 'teachers:delete' teacher.uuid %}">🗑</a>
            </td>

        </tr>

    {% endfor %}
</table>