{% extends 'base.html' %}

{% block header %}
  <h2>All Groups</h2>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h2>Forms All groups</h2>

<form>
  <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Name:</span>
      <input name="name" type="text" class="form-control" placeholder="Enter name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Course:</span>
      <input name="course" type="text" class="form-control" placeholder="Enter course" aria-label="Username" aria-describedby="basic-addon1">
    </div>

  <div class="mb-3">
      <input type="submit" class="btn btn-warning" value="Search">

      <input formaction="{% url 'groups:create' %}" type="submit" class="btn btn-info" value="Create">

      <input type="button" class="btn btn-dark" value="Back" onclick="history.back()">
  </div>
</form>
{% endif %}

<h2>Table Groups</h2>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Start date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    {% for group in groups %}

        <tr>

            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.course }}</td>
            <td>{{ group.start_date }}</td>
            <td>
                <a href="{% url 'groups:edit' group.id %}">✎</a>
            </td>
            <td>
                <a href="{% url 'groups:delete' group.id %}">🗑</a>
            </td>

        </tr>

    {% endfor %}
</table>

{% include 'includes/paginator.html' %}
{% endblock %}