{% extends 'base.html' %}

{% block title %}
    <title>All Groups</title>
{% endblock %}


{% block content %}

<h2>Forms All groups</h2>

<form>
  <label>Name:</label>
  <input type="text" name="name"><br><br>

  <label>Course:</label>
  <input type="text" name="course"><br><br>

  <label>Start data:</label>
  <input type="date" name="start_data"><br><br>

  <input type="submit" value="Search">

  <input formaction="{% url 'groups:create' %}" type="submit" value="Create">

  <input type="button" value="Back" onclick="history.back()">
</form>
<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course</th>
        <th>Start date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for group in groups %}

        <tr>

            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.course }}</td>
            <td>{{ group.start_date }}</td>
            <td>
                <a href="{% url 'groups:edit' group.id %}">✎</a>
            </td>
            <td>
                <a href="{% url 'groups:delete' group.id %}">🗑</a>
            </td>

        </tr>

    {% endfor %}
</table>
{% endblock %}