{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Create Group</title>
{% endblock %}

{% block header %}
  <h2>Create Group</h2>
{% endblock %}

{% block content %}

    <h2>Forms Create Group</h2>

        <form method="post">
            {% csrf_token %}

            {{form|crispy}}

            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Create">

                <input type="button" class="btn btn-dark" value="Back" onclick="history.back()">
            </div>
        </form>

{% endblock %}