{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Contact Us</title>
{% endblock %}

{% block header %}
  <h2>Contact Us</h2>
{% endblock %}

{% block content %}

        <form method="post">
            {% csrf_token %}

            {{form|crispy}}

            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="Send">

                <input type="button" class="btn btn-dark" value="Back" onclick="history.back()">
            </div>
        </form>

{% endblock %}