<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All teachers</title>
</head>
<body>

<h2>Forms All teachers</h2>

    <form>
      <label>First name:</label>
      <input type="text" name="first_name"><br><br>

      <label>Last name:</label>
      <input type="text" name="last_name"><br><br>

      <label>Birthdate:</label>
      <input type="number" name="birthdate"><br><br>

      <label>Subject:</label>
      <input type="text" name="subject"><br><br>

      <label>Years_of_experience:</label>
      <input type="text" name="years_of_experience"><br><br>

      <input type="submit" value="Search">
    </form>

<br><br>
{% for teacher in teachers %}
    <a href="{% url 'teachers:edit' teacher.id %}">Edit</a>
    {{ teacher.id }}
    {{ teacher.first_name }}
    {{ teacher.last_name }}
    {{ teacher.email }}
    {{ teacher.birthdate }}
    {{ teacher.subject }}
    {{ teacher.years_of_experience }}
    <br>

{% endfor %}

</body>
</html>