{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Edit Teacher</title>
{% endblock %}

{% block header %}
  <h2>Edit Teacher</h2>
{% endblock %}

{% block content %}
    <h2>Forms Edit teacher</h2>

        <form method="post">
            {% csrf_token %}

            {{form|crispy}}

            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="Save">

                <input formaction="{% url 'teachers:delete' teacher.uuid %}" type="submit" class="btn btn-danger" value="Delete">

                <input type="button" class="btn btn-dark" value="Back" onclick="history.back()">
            </div>

        </form>

<h2>Table Students in Teacher</h2>

{% include 'includes/students_table.html' %}

{% endblock %}
